*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #1d5c63;
    position: fixed;
    z-index: 1000;


}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    
}





#btn-menu {
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    

}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);

}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;

}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20%;
}


.menu li a {
    display: block;
    padding: 5px 5px;
    color: #fff;
    text-decoration: none;

}

@media (max-width:768px){

    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background: #1d5c63;
        width: 20%;
        margin-right: -20%;
        transition: 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li {
        box-shadow: 1px -28px 31px -40px rgba(255,255,255,1) inset;
        -webkit-box-shadow: 1px -28px 31px -40px rgba(255,255,255,1) inset;
        -moz-box-shadow: 1px -28px 31px -40px rgba(255,255,255,1) inset;
    }

    #btn.menu:checked ~ .menu{
        margin: 0;
    }

    #ham-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.material-symbols-outlined{
    color: white;
}

.LogoNav{
    width: 60px;
    padding: 5px;
    display: flex;
    border-radius: 100%;

}

.divPruebaBotones {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ede6db;
    font-family: 'Jost', sans-serif;;
    cursor: pointer;
}

.BotonesNav{
    display: flex;
    margin: 10px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;;
    color: #ede6db;
}





.contenedorSlider{
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: 900;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 400%;
    margin-left: -100%;
}

.slider--section{
    width: 100%;
}

.slider--img{
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider--btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider--btn:hover{
    background: #fff;
}

.slider--btn--left{
    left: 10px;
}

.slider--btn--right{
    right: 10px;
}





.contenedorProductos{
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.Productos img{
    width: 100%;

}

.Productos:hover{
    box-shadow: 0px 10px 20px gray;
}


.BotonAyuda{
    width: 50px;
    height: 20px;
    position: sticky;
    top: 40px;
}

